influxdb_client==1.47.0
matplotlib==3.11.1
pandapower>=3.5.3
plotter==1.3.20
polars==1.35.2
pydantic==2.13.5
pysunspec2==1.1.8
python_dateutil==2.9.0.post0
pytz==2024.2
PyYAML==6.0.3
thread==2.0.6
tqdm==4.67.1
xmltodict==0.14.2
pyserial==3.5
openpyxl==3.1.5